html,
body {
  font-size: 16px;
  font-family: "Inter", "Avenir", system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background-color: #fdfdfd;
  color: #232323;
}

main {
  padding: 20px;
}

.introduction p {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px;
  margin-top: 70px;
  font-size: 1.25em;
  line-height: 1.6em;
}

h1 {
  font-size: 3em;
  margin-top: 40px;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 1.4em;

  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 1em;
  margin-top: 20px;
}

.highlights {
  margin-bottom: 30px;
  font-size: 0.9em;
  line-height: 1.5em;
  margin-left: 50px;
  margin-right: 50px;
}

.map-headline {
  margin-top: 50px;
}

.byline {
  text-align: center;
  margin-bottom: 2rem;
}

img {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
}

.chart {
  margin: 2rem 0 3rem 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.map {
  width: 80%;
  margin: auto;
  padding: 1rem 0 1rem 0;
}

footer {
  border-top-style: solid;
  border-top-color: gray;
  font-size: 14px;
  font-family: sans-serif;
  color: rgb(90, 89, 89);
  margin-left: 40px;
  margin-right: 20px;
  line-height: 2em;
}

footer p {
  padding: 0rem;
}
